.formulario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
}

.title {
    color: #ffffff;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #333;
}

.form-group label {
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 1em;
    color: #000000;
}

.submit-button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}
